.numbers-container{
    display: flex;
    gap: 24px;
    align-items: center;
}
h2{
    min-width: 150px;
    text-align: end;
}
.numbers-item{
    background-color: tomato;
    min-width: 75px;
    height: 75px;
    color: #fff;
    font-size: 2rem;
    display: grid;
    place-content: center;
}